.contacts {
  padding-top: 20px;
}

.contacts__baner img {
  display: block;
  width: 100%;
}

.contacts__nav {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .contacts__nav {
    margin-top: 20px;
    flex-direction: column;
  }
}

.contacts__nav-link {
  font-size: 20px;
}
.contacts__nav-link:before {
  content: ">";
  margin-right: 8px;
}
.contacts__nav-link:hover span {
  text-decoration: underline;
}
.contacts__nav-link ._mobile {
  display: none;
}
@media (max-width: 1199px) {
  .contacts__nav-link {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .contacts__nav-link span {
    text-decoration: underline;
  }
}
@media (max-width: 555px) {
  .contacts__nav-link:before {
    content: ">";
    margin-right: 2px;
  }
  .contacts__nav-link ._desctop {
    display: none;
  }
  .contacts__nav-link ._mobile {
    display: unset;
  }
}

.contacts__anchors {
  margin-top: 36px;
  display: flex;
  gap: 10px;
}
@media (max-width: 991px) {
  .contacts__anchors {
    flex-direction: column;
    gap: 8px;
  }
}

.contacts__anchor-link {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
  padding: 16px;
  border-radius: 3px;
  background: #416A88;
  transition: color 0.3s;
}
.contacts__anchor-link._active {
  pointer-events: none;
}
.contacts__anchor-link._active, .contacts__anchor-link:hover {
  color: white;
  background: #447FD0;
}
@media (max-width: 991px) {
  .contacts__anchor-link {
    padding: 10px;
  }
}

.contacts__represent {
  margin-top: 48px;
  font-size: 24px;
}
@media (max-width: 991px) {
  .contacts__represent {
    display: none;
  }
}

.contacts__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 72px;
       column-gap: 72px;
}
@media (max-width: 991px) {
  .contacts__grid {
    grid-template-columns: unset;
  }
}

.contacts__block {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  .contacts__block {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .contacts__block:not(:first-child) {
    margin-left: -30px;
    padding-left: 30px;
    margin-right: -30px;
    padding-right: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(217, 217, 217, 0) 48.23%);
  }
}

.contacts__title {
  font-size: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .contacts__title {
    font-size: 24px;
    text-align: left;
  }
}

.contacts__list {
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  flex-grow: 1;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 0;
  border-top: 1px solid #D9D9D9;
}
.contacts__item:last-child {
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 767px) {
  .contacts__item {
    display: grid;
    gap: 10px;
  }
}

.contacts__item-value {
  display: flex;
  align-items: center;
  text-align: right;
}
.contacts__item-value img {
  margin-left: 0;
  margin-right: 4px;
}
.contacts__item-value img:last-of-type {
  margin-right: 8px;
}
@media (max-width: 767px) {
  .contacts__item-value {
    text-align: left;
  }
}

.contacts__action {
  margin-top: 30px;
  height: 78px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
}
.contacts__action img {
  margin: 0;
  flex-shrink: 0;
}
.contacts__action:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  .contacts__action {
    margin-top: 20px;
    text-decoration: underline;
  }
}

.contacts-section {
  padding: 60px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(217, 217, 217, 0) 48.23%);
}
@media (max-width: 991px) {
  .contacts-section {
    padding-top: 30px;
  }
}

.contacts-section__title {
  margin: 0;
  font-size: 24px;
}

.contacts-section__subtitle {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

.contacts-personal {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-wrap: wrap;
  row-gap: 30px;
}

.personal-card {
  position: relative;
  max-width: 313px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  padding-bottom: 105px;
}
@media (max-width: 767px) {
  .personal-card {
    max-width: 440px;
  }
}
@media (max-width: 555px) {
  .personal-card {
    padding-bottom: 90px;
  }
}

.personal-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.personal-card__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 105px;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  transition: max-height 0.25s;
}
.personal-card:hover .personal-card__bottom {
  max-height: 100%;
}
@media (max-width: 555px) {
  .personal-card__bottom {
    max-height: 90px;
  }
}

.personal-card__content {
  background: white;
  padding: 28px 30px;
}
@media (max-width: 555px) {
  .personal-card__content {
    padding: 18px 20px 28px;
  }
}

.personal-card__title {
  display: block;
  color: #999;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.personal-card__name {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.personal-card__contacts {
  position: relative;
  margin-top: 20px;
  display: grid;
  row-gap: 10px;
}

.personal-card__contacts-title {
  display: block;
  color: #999;
  font-size: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.personal-card__contacts-value {
  display: block;
  font-size: 16px;
}

.personal-card__socials {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .personal-card__socials {
    position: static;
  }
}

.contacts-routes {
  margin-top: 30px;
}

.contacts-routes__description > p {
  margin: 5px 0 0;
}
@media (max-width: 991px) {
  .contacts-routes__description > p {
    margin-top: 10px;
  }
}

.contacts-routes__apps {
  margin-top: 20px;
}

.contacts-routes__app-links {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.contacts-routes__app-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-decoration: underline;
}

.contacts-routes__tabs {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 991px) {
  .contacts-routes__tabs {
    flex-direction: column;
    width: 100%;
  }
}

.contacts-routes__grid {
  display: grid;
  grid-template-columns: 480px auto;
  row-gap: 20px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 991px) {
  .contacts-routes__grid {
    grid-template-columns: unset;
  }
}

.conttacts-routes__contents {
  margin-top: 30px;
}

.contacts-routes__content ul li {
  list-style-type: unset;
}
.contacts-routes__content ul li:before {
  content: none !important;
}
.contacts-routes__content a {
  text-decoration: underline;
}

.contacts-routes__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts-routes__tabs-content:not(._active) {
  display: none;
}

.contacts-routes__map {
  max-width: 100%;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.contacts-routes__map .bx-yandex-map,
.contacts-routes__map .ymaps-map {
  width: 100% !important;
  margin: 0;
}

.contacts-video {
  margin-top: 33px;
}

.contacts-video__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4px;
       column-gap: 4px;
  row-gap: 4px;
}
@media (min-width: 992px) {
  .contacts-video__grid._five-videos {
    grid-template-columns: repeat(4, 1fr);
  }
  .contacts-video__grid._five-videos > *:nth-child(2) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
@media (max-width: 991px) {
  .contacts-video__grid {
    grid-template-columns: unset;
    row-gap: 30px;
  }
}

.contacts-video__block {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contacts-video__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.contacts-video__video-frame {
  width: 100%;
  aspect-ratio: 673/373;
}

.contacts-gallery {
  margin-top: 30px;
  height: auto !important;
}

.contacts-gallery__slide img {
  width: 100%;
}

.contacts-gallery.flexslider .flex-direction-nav {
  display: block !important;
}
.contacts-gallery.flexslider .flex-nav-prev,
.contacts-gallery.flexslider .flex-nav-next {
  position: static;
}
.contacts-gallery.flexslider .flex-prev,
.contacts-gallery.flexslider .flex-next {
  top: 50%;
  transform: translateY(-50%);
  background: none;
  background-image: url("./../img/next.svg");
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.contacts-gallery.flexslider .flex-prev::before,
.contacts-gallery.flexslider .flex-next::before {
  content: none;
}
.contacts-gallery.flexslider .flex-prev {
  left: 30px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(180deg) translateY(50%);
}
.contacts-gallery.flexslider .flex-next {
  right: 30px;
}
@media (max-width: 991px) {
  .contacts-gallery.flexslider .flex-viewport {
    margin: 0 -30px;
    padding: 0 30px;
  }
  .contacts-gallery.flexslider .flex-prev {
    left: 0;
  }
  .contacts-gallery.flexslider .flex-next {
    right: 0;
  }
}

.requisits {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .requisits {
    margin-top: 20px;
  }
}

.requisits__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 75px;
       column-gap: 75px;
}
@media (max-width: 991px) {
  .requisits__grid {
    margin-top: 15px;
    grid-template-columns: unset;
    border-bottom: 1px solid #D9D9D9;
  }
}

.requisits__block {
  display: flex;
  flex-direction: column;
}
.requisits__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 411px;
}
@media (max-width: 991px) {
  .requisits__list {
    min-height: unset;
  }
}

.requisits__item {
  flex-grow: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
}
.requisits__item:last-child {
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 991px) {
  .requisits__item:last-child {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .requisits__item {
    display: grid;
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .requisits__item {
    padding: 15px 0;
  }
}

.requisits__item-row {
  display: flex;
  flex-grow: 1;
  align-items: start;
  padding-right: 25px;
}
@media (max-width: 767px) {
  .requisits__item-row {
    flex-direction: column;
    padding-right: 0;
  }
}

.requisits__item-name {
  width: 185px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .requisits__item-name {
    width: unset;
    font-weight: 700;
    line-height: 24px;
    /* 160% */
  }
}

@media (max-width: 767px) {
  .requisits__item-value {
    display: grid;
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .requisits__item-value {
    margin-top: 5px;
    line-height: 20px;
  }
}

.requisits__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 75px;
       column-gap: 75px;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .requisits__actions {
    margin-top: 20px;
    order: -1;
  }
}
@media (max-width: 767px) {
  .requisits__actions {
    grid-template-columns: unset;
    gap: 15px;
  }
}

.requisits__action {
  display: flex;
  align-items: center;
  gap: 20px;
}
.requisits__action img {
  margin: 0;
  flex-shrink: 0;
}
.requisits__action span {
  width: 197px;
}
.requisits__action:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  .requisits__action {
    max-width: 290px;
    justify-content: space-between;
    gap: unset;
    text-decoration: underline;
  }
}

.product-details {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-family: "Open Sans", sans-serif;
}

.product-media-gallery {
  max-width: 549px;
}

.product-images {
  display: flex;
  align-items: center;
  gap: 32px;
}

.product-images__carousel {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.carousel-images {
  display: flex;
  flex-direction: column;
}

.carousel-images__item {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-images__item img {
  width: 78px;
  height: 78px;
}

.carousel-images__item-active {
  border: 1px solid #416a88;
}

.product-images__image {
  width: 427px;
  height: 427px;
  border: 1px solid #b6b5b5;
}
.product-images__image img {
  width: 100%;
}

.customer-media-content {
  margin-top: 31px;
}
.customer-media-content a {
  font-size: 15px;
  line-height: 20px;
  text-decoration: underline;
  text-decoration-color: #385d78;
  text-align: left;
  color: #385d78;
}

.customer-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.customer-carousel-images {
  display: flex;
  gap: 16px;
}

.customer-carousel-images__item {
  width: 84px;
  height: 84px;
}
.customer-carousel-images__item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-price-section {
  min-width: 425px;
}

.product-offer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 201px;
  border-radius: 3px;
  box-shadow: 0 4px 20px rgba(179, 199, 217, 0.5);
  padding-top: 42px;
  padding-bottom: 27px;
}

.bye-product {
  width: 268px;
  position: relative;
  margin-bottom: 21px;
}
.bye-product a {
  font-size: 15px;
  line-height: 16.5px;
  text-decoration: underline;
  text-decoration-color: #416a88;
  color: #416a88;
}

.bye-product__price {
  font-size: 30px;
  font-weight: 500;
  color: #416a88;
  line-height: 39.5px;
}
.bye-product__price span {
  width: 49px;
  height: 18px;
  border: 1px solid #69717c;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  color: #69717c;
}

.bye-product__price--old {
  position: absolute;
}

.subscription {
  padding-top: 55px;
  padding-bottom: 35px;
}

.subscription__section {
  position: relative;
}

.subscription__image {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 10px;
  height: 100%;
}

.subscription__title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subscription__text {
  margin: 20px 0 !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
}
.subscription__text a {
  font-weight: 600;
  text-decoration: underline;
}

.subscription__contacts {
  display: flex;
  gap: 20px;
}
.subscription__contacts-item {
  display: flex;
  width: 97px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #416A88;
}
.subscription__contacts-item._green {
  background-color: #25D366;
}
.subscription__contacts-item._red {
  background-color: #F5664A;
}
.subscription__contacts-item._blue {
  background-color: #2AA1DA;
}

.subscription__divide {
  margin: 40px 0;
  border-bottom: 1px solid #ECECEC;
}

.subscription__offers {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  flex-wrap: wrap;
}
.subscription__offers-item {
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
.subscription__offers-item img {
  display: block;
  width: 100%;
  max-width: 494px;
}

@media (max-width: 1199px) {
  .subscription__image {
    display: none;
  }
}
@media (max-width: 991px) {
  .subscription__contacts {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
  }
  .subscription__contacts-item {
    width: 141px;
    height: 60px;
  }
  .subscription__offers {
    justify-content: center;
  }
  .subscription__offers-item img {
    max-width: 420px;
  }
}
@media (max-width: 480px) {
  .subscription__contacts {
    gap: 20px;
  }
  .subscription__contacts-item {
    width: 120px;
    height: 60px;
  }
}
.wrapper {
  width: 100%;
  max-width: 1408px;
  padding: 0px 30px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */