@charset "UTF-8";
.contacts {
  padding-top: 20px;
}

.contacts__baner img {
  display: block;
  width: 100%;
}

.contacts__nav {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  column-gap: 60px;
  row-gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .contacts__nav {
    margin-top: 20px;
    flex-direction: column;
  }
}

.contacts__nav-link {
  font-size: 20px;
}
.contacts__nav-link:before {
  content: ">";
  margin-right: 8px;
}
.contacts__nav-link:hover span {
  text-decoration: underline;
}
.contacts__nav-link ._mobile {
  display: none;
}
@media (max-width: 1199px) {
  .contacts__nav-link {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .contacts__nav-link span {
    text-decoration: underline;
  }
}
@media (max-width: 555px) {
  .contacts__nav-link:before {
    content: ">";
    margin-right: 2px;
  }
  .contacts__nav-link ._desctop {
    display: none;
  }
  .contacts__nav-link ._mobile {
    display: unset;
  }
}

.contacts__anchors {
  margin-top: 36px;
  display: flex;
  gap: 10px;
}
@media (max-width: 991px) {
  .contacts__anchors {
    flex-direction: column;
    gap: 8px;
  }
}

.contacts__anchor-link {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
  padding: 16px;
  border-radius: 3px;
  background: #416A88;
  transition: color 0.3s;
}
.contacts__anchor-link._active {
  pointer-events: none;
}
.contacts__anchor-link._active, .contacts__anchor-link:hover {
  color: white;
  background: #447FD0;
}
@media (max-width: 991px) {
  .contacts__anchor-link {
    padding: 10px;
  }
}

.contacts__represent {
  margin-top: 48px;
  font-size: 24px;
}
@media (max-width: 991px) {
  .contacts__represent {
    display: none;
  }
}

.contacts__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 72px;
}
@media (max-width: 991px) {
  .contacts__grid {
    grid-template-columns: unset;
  }
}

.contacts__block {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  .contacts__block {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .contacts__block:not(:first-child) {
    margin-left: -30px;
    padding-left: 30px;
    margin-right: -30px;
    padding-right: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(217, 217, 217, 0) 48.23%);
  }
}

.contacts__title {
  font-size: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .contacts__title {
    font-size: 24px;
    text-align: left;
  }
}

.contacts__list {
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  flex-grow: 1;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 0;
  border-top: 1px solid #D9D9D9;
}
.contacts__item:last-child {
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 767px) {
  .contacts__item {
    display: grid;
    gap: 10px;
  }
}

.contacts__item-value {
  display: flex;
  align-items: center;
  text-align: right;
}
.contacts__item-value img {
  margin-left: 0;
  margin-right: 4px;
}
.contacts__item-value img:last-of-type {
  margin-right: 8px;
}
@media (max-width: 767px) {
  .contacts__item-value {
    text-align: left;
  }
}

.contacts__action {
  margin-top: 30px;
  height: 78px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
}
.contacts__action img {
  margin: 0;
  flex-shrink: 0;
}
.contacts__action:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  .contacts__action {
    margin-top: 20px;
    text-decoration: underline;
  }
}

.contacts-section {
  padding: 60px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(217, 217, 217, 0) 48.23%);
}
@media (max-width: 991px) {
  .contacts-section {
    padding-top: 30px;
  }
}

.contacts-section__title {
  margin: 0;
  font-size: 24px;
}

.contacts-section__subtitle {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

.contacts-personal {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 32px;
  flex-wrap: wrap;
  row-gap: 30px;
}

.personal-card {
  position: relative;
  max-width: 313px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  padding-bottom: 105px;
}
@media (max-width: 767px) {
  .personal-card {
    max-width: 440px;
  }
}
@media (max-width: 555px) {
  .personal-card {
    padding-bottom: 90px;
  }
}

.personal-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal-card__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 105px;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  transition: max-height 0.25s;
}
.personal-card:hover .personal-card__bottom {
  max-height: 100%;
}
@media (max-width: 555px) {
  .personal-card__bottom {
    max-height: 90px;
  }
}

.personal-card__content {
  background: white;
  padding: 28px 30px;
}
@media (max-width: 555px) {
  .personal-card__content {
    padding: 18px 20px 28px;
  }
}

.personal-card__title {
  display: block;
  color: #999;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.personal-card__name {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.personal-card__contacts {
  position: relative;
  margin-top: 20px;
  display: grid;
  row-gap: 10px;
}

.personal-card__contacts-title {
  display: block;
  color: #999;
  font-size: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.personal-card__contacts-value {
  display: block;
  font-size: 16px;
}

.personal-card__socials {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .personal-card__socials {
    position: static;
  }
}

.contacts-routes {
  margin-top: 30px;
}

.contacts-routes__description > p {
  margin: 5px 0 0;
}
@media (max-width: 991px) {
  .contacts-routes__description > p {
    margin-top: 10px;
  }
}

.contacts-routes__apps {
  margin-top: 20px;
}

.contacts-routes__app-links {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.contacts-routes__app-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: underline;
}

.contacts-routes__tabs {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  width: fit-content;
}
@media (max-width: 991px) {
  .contacts-routes__tabs {
    flex-direction: column;
    width: 100%;
  }
}

.contacts-routes__grid {
  display: grid;
  grid-template-columns: 480px auto;
  row-gap: 20px;
  column-gap: 32px;
}
@media (max-width: 991px) {
  .contacts-routes__grid {
    grid-template-columns: unset;
  }
}

.conttacts-routes__contents {
  margin-top: 30px;
}

.contacts-routes__content ul li {
  list-style-type: unset;
}
.contacts-routes__content ul li:before {
  content: none !important;
}
.contacts-routes__content a {
  text-decoration: underline;
}

.contacts-routes__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts-routes__tabs-content:not(._active) {
  display: none;
}

.contacts-routes__map {
  max-width: 100%;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.contacts-routes__map .bx-yandex-map,
.contacts-routes__map .ymaps-map {
  width: 100% !important;
  margin: 0;
}

.contacts-video {
  margin-top: 33px;
}

.contacts-video__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4px;
  row-gap: 4px;
}
@media (min-width: 992px) {
  .contacts-video__grid._five-videos {
    grid-template-columns: repeat(4, 1fr);
  }
  .contacts-video__grid._five-videos > *:nth-child(2) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
@media (max-width: 991px) {
  .contacts-video__grid {
    grid-template-columns: unset;
    row-gap: 30px;
  }
}

.contacts-video__block {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contacts-video__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.contacts-video__video-frame {
  width: 100%;
  aspect-ratio: 673/373;
}

.contacts-gallery {
  margin-top: 30px;
  height: auto !important;
}

.contacts-gallery__slide img {
  width: 100%;
}

.contacts-gallery.flexslider .flex-direction-nav {
  display: block !important;
}
.contacts-gallery.flexslider .flex-nav-prev,
.contacts-gallery.flexslider .flex-nav-next {
  position: static;
}
.contacts-gallery.flexslider .flex-prev,
.contacts-gallery.flexslider .flex-next {
  top: 50%;
  transform: translateY(-50%);
  background: none;
  background-image: url("./../img/next.svg");
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.contacts-gallery.flexslider .flex-prev::before,
.contacts-gallery.flexslider .flex-next::before {
  content: none;
}
.contacts-gallery.flexslider .flex-prev {
  left: 30px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(180deg) translateY(50%);
}
.contacts-gallery.flexslider .flex-next {
  right: 30px;
}
@media (max-width: 991px) {
  .contacts-gallery.flexslider .flex-viewport {
    margin: 0 -30px;
    padding: 0 30px;
  }
  .contacts-gallery.flexslider .flex-prev {
    left: 0;
  }
  .contacts-gallery.flexslider .flex-next {
    right: 0;
  }
}

.requisits {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .requisits {
    margin-top: 20px;
  }
}

.requisits__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 75px;
}
@media (max-width: 991px) {
  .requisits__grid {
    margin-top: 15px;
    grid-template-columns: unset;
    border-bottom: 1px solid #D9D9D9;
  }
}

.requisits__block {
  display: flex;
  flex-direction: column;
}
.requisits__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 411px;
}
@media (max-width: 991px) {
  .requisits__list {
    min-height: unset;
  }
}

.requisits__item {
  flex-grow: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
}
.requisits__item:last-child {
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 991px) {
  .requisits__item:last-child {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .requisits__item {
    display: grid;
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .requisits__item {
    padding: 15px 0;
  }
}

.requisits__item-row {
  display: flex;
  flex-grow: 1;
  align-items: start;
  padding-right: 25px;
}
@media (max-width: 767px) {
  .requisits__item-row {
    flex-direction: column;
    padding-right: 0;
  }
}

.requisits__item-name {
  width: 185px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .requisits__item-name {
    width: unset;
    font-weight: 700;
    line-height: 24px;
    /* 160% */
  }
}

@media (max-width: 767px) {
  .requisits__item-value {
    display: grid;
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .requisits__item-value {
    margin-top: 5px;
    line-height: 20px;
  }
}

.requisits__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 75px;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .requisits__actions {
    margin-top: 20px;
    order: -1;
  }
}
@media (max-width: 767px) {
  .requisits__actions {
    grid-template-columns: unset;
    gap: 15px;
  }
}

.requisits__action {
  display: flex;
  align-items: center;
  gap: 20px;
}
.requisits__action img {
  margin: 0;
  flex-shrink: 0;
}
.requisits__action span {
  width: 197px;
}
.requisits__action:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  .requisits__action {
    max-width: 290px;
    justify-content: space-between;
    gap: unset;
    text-decoration: underline;
  }
}

.product-info-block {
  display: flex;
  justify-content: start;
  gap: 15px 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.product-info-block > :last-child {
  flex: 1; /* Последний элемент занимает оставшееся место */
}
@media (max-width: 1320px) {
  .product-info-block {
    gap: 10px 20px;
  }
}
@media (max-width: 1280px) {
  .product-info-block {
    flex-direction: column-reverse;
  }
}
@media (max-width: 400px) {
  .product-info-block {
    gap: 6px 12px;
    font-size: 12px;
  }
}

.product-info-block__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1320px) {
  .product-info-block__inner {
    gap: 20px;
  }
}

@media (max-width: 1280px) {
  .product-info-block__inner--reverse {
    flex-direction: row-reverse;
  }
}

.product-info-block__reviews {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-rating-stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
@media (max-width: 400px) {
  .product-rating-stars {
    gap: 1.7px;
  }
}

.product-rating__star {
  margin: 0;
}
@media (max-width: 400px) {
  .product-rating__star {
    width: 12.8px;
    height: 12.2px;
  }
}

.product-info-block__description-link {
  color: #385d78;
  font-weight: 600;
}

.product-info-block__purchased-count,
.product-info-block__code {
  color: #333;
}

.product-info-block__code {
  text-align: end;
}

.product-details {
  font-family: "Open Sans", sans-serif;
  margin-top: 24px;
}

.product-details__layout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  justify-content: space-between;
}

.product-details__left {
  max-width: 548px;
}

.product-details__right {
  max-width: 425px;
}

.product-details-link {
  color: #416a88;
  text-decoration: underline;
  cursor: pointer;
}

.product-details-link:hover {
  color: #416a88;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .product-details__layout {
    grid-template-columns: 100%;
  }
  .product-details__left,
.product-details__right {
    max-width: unset;
  }
}
.product-offer-card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 201px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px rgba(179, 199, 217, 0.5);
  padding-top: 42px;
  margin-bottom: 23px;
}
@media (max-width: 530px) {
  .product-offer-card {
    height: 178px;
    margin-bottom: 25px;
  }
}

.product-discount-badge {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -11px);
  background-color: rgb(255, 68, 68);
  width: 77px;
  height: 35px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 35px;
  text-align: center;
}
.product-discount-badge span {
  font-weight: 600;
}
@media (max-width: 1280px) {
  .product-discount-badge {
    transform: translate(25px, -50%);
  }
}
@media (max-width: 530px) {
  .product-discount-badge {
    width: 57px;
    height: 26px;
    font-size: 15px;
    line-height: 26px;
  }
}

.product-buy-section {
  position: relative;
}
@media (max-width: 530px) {
  .product-buy-section {
    width: 248px;
  }
}

.product-price {
  position: relative;
  display: flex;
  align-items: end;
  gap: 10px;
}

.product-current-price {
  color: rgb(65, 106, 136);
  font-size: 30px;
  font-weight: 600;
  line-height: 39.47px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 13.5px;
}
.product-current-price span {
  font-weight: 400;
}
@media (max-width: 530px) {
  .product-current-price {
    font-size: 25px;
    line-height: 48px;
    font-weight: 400;
    color: black;
    margin-bottom: 4px;
  }
}

.product-old-price {
  position: absolute;
  top: -36px;
  font-size: 20px;
  line-height: 47px;
  color: #8b8b8b;
  text-decoration: line-through solid 2px #ff4444;
}
@media (max-width: 530px) {
  .product-old-price {
    font-size: 15px;
    line-height: 48px;
    top: -29px;
    left: 2px;
  }
}

.product-buy-section__price-rub {
  font-weight: 400;
}

.product-nds {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 18px;
  border: 1px solid #69717c;
  margin-bottom: 22px;
}
@media (max-width: 530px) {
  .product-nds {
    margin-bottom: 18px;
  }
}
.product-nds p {
  font-size: 11px;
  font-weight: 400;
  color: #69717c;
  padding: 0;
  margin: 0;
}

.product-buy-btn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 3px;
  background: rgb(65, 106, 136);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 15.71px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}
@media (max-width: 530px) {
  .product-buy-btn {
    height: 40px;
    margin-bottom: 13px;
  }
}

.product-price-request {
  font-size: 15px;
  font-weight: 400;
  line-height: 16.55px;
  text-align: center;
}
@media (max-width: 530px) {
  .product-price-request {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #385d78;
  }
}

.additional-bye-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  margin-bottom: 23px;
}
@media (max-width: 530px) {
  .additional-bye-btns {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
  }
}

.additional-bye-btn {
  width: 100%;
  min-width: 155px;
  height: 40px;
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 530px) {
  .additional-bye-btn {
    font-size: 12px;
  }
}

.additional-bye-btn__one-click-bye {
  color: rgb(65, 106, 136);
  font-weight: 600;
  line-height: 15.71px;
  letter-spacing: 0.8px;
  background: none;
  border: 1px solid rgb(65, 106, 136);
}

.additional-bye-btn__ozon-bye {
  background: rgb(0, 92, 255);
  border: none;
}

.ozon-bye-btn {
  display: flex;
  justify-content: center;
  gap: 4.5px;
  align-items: end;
}
.ozon-bye-btn p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.8px;
  line-height: 40px;
  margin: 0;
}
.ozon-bye-btn img {
  width: 54px;
  height: 34px;
  margin: 0;
  margin-right: -14px;
}

.additional-info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 530px) {
  .additional-info-block {
    margin-bottom: 24px;
    gap: 8px;
  }
}

.additional-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.additional-info__image {
  width: 20px;
  height: 20px;
  margin: 0;
}
@media (max-width: 530px) {
  .additional-info__image {
    width: 16px;
    height: 16px;
  }
}

.additional-info__link {
  font-size: 15px;
  font-weight: 400;
  line-height: 16.55px;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 530px) {
  .additional-info__link {
    font-size: 12px;
    line-height: 18px;
  }
}

.price-and-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-left: auto;
}
@media (max-width: 480px) {
  .price-and-shipping {
    align-items: start;
    margin-left: 0;
  }
}

.price-and-shipping__price {
  color: rgb(65, 106, 136);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}
@media (max-width: 400px) {
  .price-and-shipping__price {
    font-size: 14px;
  }
}
.price-and-shipping__price span {
  font-weight: 400;
}

.price-and-shipping__shipping-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 20px;
  border: 1px solid #16D177;
  border-radius: 3px;
}
.price-and-shipping__shipping-option p {
  color: #16D177;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  margin: 0;
}
@media (max-width: 400px) {
  .price-and-shipping__shipping-option p {
    font-size: 12px;
  }
}

.product-images {
  display: flex;
  width: 100%;
  height: 428px;
  gap: 32px;
}
@media (max-width: 428px) {
  .product-images {
    height: unset;
    padding-top: 100%;
    padding-bottom: 24px;
    position: relative;
  }
}

.product-images__thumbs {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 90px;
  padding: 34px 0;
  user-select: none;
}
.product-images__thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-images__thumbs .swiper-slide-thumb-active {
  border: 1px solid #416a88;
}
.product-images__thumbs .swiper-button-prev {
  position: absolute;
  top: 0;
  padding: 5px 0;
}
.product-images__thumbs .swiper-button-next {
  position: absolute;
  bottom: 0;
  padding: 5px 0;
}
.product-images__thumbs .swiper-button-disabled {
  display: none;
}
@media (max-width: 767px) {
  .product-images__thumbs {
    display: none;
  }
}

.product-images__slider {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
  border: 1px solid #b6b5b5;
  user-select: none;
}
.product-images__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-images__slider .swiper-pagination {
  position: absolute;
  top: calc(100% + 14px);
}
.product-images__slider .swiper-pagination-horizontal {
  display: flex;
  gap: 7px;
}
.product-images__slider .swiper-pagination-bullet {
  padding: 4px;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #B6B5B5;
  cursor: pointer;
}
.product-images__slider .swiper-pagination-bullet-active {
  background-color: #416A88;
}
@media (max-width: 767px) {
  .product-images__slider {
    width: 100%;
    overflow: unset;
    margin-bottom: 24px;
  }
}
@media (max-width: 428px) {
  .product-images__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.product-images__tags {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 6px;
  display: grid;
  row-gap: 4px;
}

.product-images__tag {
  justify-self: start;
  padding: 2px 10px;
  border-radius: 0 3px 3px 0;
  background-color: #416A88;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
.product-images__tag._green {
  background-color: #16D177;
}
.product-images__tag._blue {
  background-color: #3279E1;
}
.product-images__tag._purple {
  background-color: #6A3DEB;
}

.product-images-placeholder {
  width: 100%;
  height: 427px;
  border: 1px solid #b6b5b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-images-placeholder img {
  width: 106px;
  height: 106px;
}
.product-images-placeholder p {
  margin-top: 43px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
}
.product-images-placeholder a {
  font-size: 20px;
  line-height: 39.5px;
}
@media (max-width: 1280px) {
  .product-images-placeholder {
    flex: auto;
    height: 300px;
    min-width: 300px;
  }
  .product-images-placeholder img {
    width: 82px;
    height: 82px;
  }
  .product-images-placeholder p {
    margin-top: 24px;
    font-size: 10px;
    line-height: 20px;
  }
  .product-images-placeholder a {
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
  }
}

.product-offer {
  position: relative;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 0px rgba(179, 199, 217, 0.5);
  margin-bottom: 24px;
}

.product-offer__container {
  width: fit-content;
  margin: 0 auto;
  padding: 26px;
}

.product-offer__price {
  margin-top: 16px;
  position: relative;
  color: #416A88;
  font-size: 30px;
  line-height: 36px;
  white-space: nowrap;
}
.product-offer__price b {
  color: inherit;
  font-weight: 600;
}

.product-offer__prc-old {
  position: absolute;
  bottom: 100%;
  color: #8b8b8b;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: line-through solid 2px #ff4444;
}

.product-offer__prc-nds {
  display: inline-block;
  padding: 3px 8px;
  color: #767F8C;
  border: 1px solid #767F8C;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  white-space: nowrap;
  transform: translateY(-5px);
}

.product-offer__prc-req {
  padding-top: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 530px) {
  .product-offer__prc-req {
    font-size: 16px;
  }
}

.product-offer__btn {
  display: block;
  margin-top: 12px;
  min-width: 160px;
  padding: 13px 24px;
  border-radius: 3px;
  background-color: #416A88;
  color: white;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.product-offer__btn:hover {
  color: white;
  background-color: #4b7a9d;
}

.product-offer__opt-req {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 530px) {
  .product-offer__opt-req {
    font-size: 12px;
  }
}

.product-offer__discount {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 14px;
  background-color: rgb(255, 68, 68);
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  transform: translate(-50%, -11px);
}
@media (max-width: 1280px) {
  .product-offer__discount {
    transform: translate(25px, -50%);
  }
}
@media (max-width: 530px) {
  .product-offer__discount {
    font-size: 16px;
    line-height: 21px;
  }
}

.product-customer-media {
  display: block;
  width: 100%;
  padding-top: 25px;
}

.product-customer-media__title {
  font-size: 15px;
  line-height: 20px;
  text-decoration-color: #385d78;
  color: #385d78;
}
@media (max-width: 672px) {
  .product-customer-media__title {
    font-size: 12px;
    line-height: 18px;
  }
}

.product-customer-media__slider {
  margin-top: 20px;
  padding: 0 34px;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.product-customer-media__slider .swiper {
  flex-grow: 1;
}
.product-customer-media__slider .swiper-button-prev {
  position: absolute;
  left: 0;
  padding: 0 5px;
}
.product-customer-media__slider .swiper-button-next {
  position: absolute;
  right: 0;
  padding: 0 5px;
}
.product-customer-media__slider .swiper-button-disabled {
  display: none;
}
.product-customer-media__slider .swiper-slide {
  width: 84px;
  height: 84px;
  border: 1px solid transparent;
}
.product-customer-media__slider .swiper-slide:hover {
  border-color: #416A88;
}
.product-customer-media__slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 672px) {
  .product-customer-media__slider {
    margin-top: 16px;
  }
}

.product-customer-media__slide {
  display: block;
  width: 84px;
  height: 84px;
  border: 1px solid transparent;
}
.product-customer-media__slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.product-customer-media__slide:hover {
  background-color: #416a88;
}

.product-customer-media__video {
  --video-icon: url(/img/video-icon.png);
  position: relative;
}
.product-customer-media__video:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-image: var(--video-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
}

.product-advantages {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 33px;
}
@media (max-width: 1320px) {
  .product-advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .product-advantages {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-advantage-card {
  display: flex;
  gap: 18px;
  align-items: center;
}
@media (max-width: 400px) {
  .product-advantage-card {
    gap: 12px;
  }
}

.product-advantage-card__icon img {
  margin: 0;
}
@media (max-width: 1280px) {
  .product-advantage-card__icon {
    height: 31px;
    width: 40.4px;
  }
  .product-advantage-card__icon img {
    max-height: 100%;
    max-width: 100%;
  }
}

.product-advantage-card__text {
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
.product-advantage-card__text span {
  position: relative;
}
.product-advantage-card__text span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ff4500;
}

.product_options_head ul {
  padding: 10px 0;
  display: flex;
  gap: 10px;
}

.product_options_head ul li,
.product_options_head ul li.product_options_head_unactive,
.product_options_head ul li.product_options_head_active {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 14px 16px;
  border-radius: 3px;
  border: 1px solid #E7E7E7;
  background: #F7F7F7;
  color: #7A7A7A;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}
.product_options_head ul li:hover,
.product_options_head ul li.product_options_head_unactive:hover,
.product_options_head ul li.product_options_head_active:hover {
  border-color: #416A88;
}

.product_options_head ul li.product_options_head_active {
  padding: 12px 14px;
  border: 2px solid #416A88;
  color: #416A88;
}

.product_options_head ul .product_options_raz {
  display: none;
}

.product-spares {
  padding: 30px 40px;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.product-spares .swiper-slide {
  height: unset;
}
.product-spares .swiper-button-prev {
  position: absolute;
  left: 0;
  padding: 0 5px;
}
.product-spares .swiper-button-next {
  position: absolute;
  right: 0;
  padding: 0 5px;
}
.product-spares .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.product-spares .swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  gap: 7px;
}
.product-spares .swiper-pagination-bullet {
  padding: 4px;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #B6B5B5;
  cursor: pointer;
}
.product-spares .swiper-pagination-bullet-active {
  background-color: #416A88;
}
@media (min-width: 768px) {
  .product-spares .swiper-pagination {
    display: none;
  }
}
@media (max-width: 767px) {
  .product-spares {
    padding: 30px 0;
  }
  .product-spares .swiper {
    margin: 0 -16px;
    padding: 0 16px;
  }
  .product-spares .swiper-button-prev,
.product-spares .swiper-button-next {
    display: none;
  }
}

.spares-card {
  padding: 12px;
  border: 1px solid #cdcdcd;
}
@media (max-width: 767px) {
  .spares-card {
    max-width: 300px;
  }
}

.spares-card__layout {
  display: grid;
  height: 100%;
  row-gap: 10px;
}

.spares-card__image {
  display: block;
  height: 150px;
  overflow: hidden;
}
.spares-card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}
.spares-card__image:hover img {
  transform: scale(1.03);
}

.spares-card__title {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  transition: 0.2s;
}
.spares-card__title:hover {
  color: #385d78;
}

.spares-card__info {
  margin: 0;
  display: grid;
}
.spares-card__info li {
  margin: 0;
  color: #999;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.4;
}
.spares-card__info li::before, .spares-card__info li::after {
  content: none !important;
}

.spares-card__btn {
  margin: auto 0 0 auto;
  padding: 10px 18px 8px;
  background-color: transparent;
  border: 1px solid rgba(65, 106, 136, 0.35);
  color: #416a88;
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;
  transition: 0.3s;
}
.spares-card__btn:hover {
  background-color: #416a88;
  border-color: #416a88;
  color: white;
}

.related-products {
  padding-top: 28px;
}

.related-products__title {
  color: rgb(65, 106, 136);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 530px) {
  .related-products__title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
  }
}

.related-products__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.related-product-card {
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 65px;
  background: none;
  border: 1px solid rgb(65, 106, 136);
  border-radius: 3px;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 16px;
  padding-bottom: 7px;
  background-color: transparent;
  transition: background-color 0.3s;
}
@media (max-width: 480px) {
  .related-product-card {
    height: 124px;
    padding-left: 20px;
    gap: 24px;
  }
}
.related-product-card:hover {
  text-decoration: none;
  background-color: #FAFAFA;
}

.related-product-card__image {
  width: 66px;
  height: 66px;
  margin: 0;
}
@media (max-width: 400px) {
  .related-product-card__image {
    width: 74px;
    width: 74px;
  }
}

.related-product-card__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
@media (max-width: 480px) {
  .related-product-card__info {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.related-product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.related-product-info p {
  color: rgb(125, 125, 125);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
@media (max-width: 400px) {
  .related-product-info p {
    font-size: 12px;
  }
}

.related-product-card__price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
  margin-left: auto;
  color: rgb(65, 106, 136);
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}
.related-product-card__price b {
  color: inherit;
  font-weight: 600;
}
@media (max-width: 480px) {
  .related-product-card__price {
    font-size: 14px;
    align-items: start;
    margin-left: 0;
  }
}

.related-product-card__price-shipping {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #16D177;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
}
.related-product-card__price-shipping:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentcolor;
}

.empty-offer-card {
  width: 100%;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 0px rgba(179, 199, 217, 0.5);
  background: rgb(255, 255, 255);
  margin-bottom: 23px;
}

.empty-offer-card__prise-request {
  font-size: 20px;
  line-height: 39.5px;
}

.empty-offer-card__check-analogs {
  width: 268px;
  height: 40px;
  background-color: #416a88;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  line-height: 15.7px;
  text-transform: uppercase;
  text-align: center;
}

.product-requests {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px 25px;
  margin-bottom: 24px;
}
@media (max-width: 530px) {
  .product-requests {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.product-requests__btn {
  cursor: pointer;
  display: block;
  width: 100%;
  min-width: 155px;
  max-width: 540px;
  padding: 12px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.7px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
}
.product-requests__btn._outlined {
  border: 1px solid #416a88;
  color: #416a88;
  background-color: transparent;
  transition: 0.3s;
}
.product-requests__btn._outlined:hover {
  color: white;
  background-color: #416a88;
}
.product-requests__btn._whatsapp {
  border: none;
  color: #fff;
  background-color: #16D177;
  transition: 0.3s;
}
.product-requests__btn._whatsapp:hover {
  color: #fff;
  background-color: #18D44C;
}

.subscription {
  padding-top: 55px;
  padding-bottom: 35px;
}

.subscription__section {
  position: relative;
}

.subscription__image {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 10px;
  height: 100%;
}

.subscription__title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subscription__text {
  margin: 20px 0 !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
}
.subscription__text a {
  font-weight: 600;
  text-decoration: underline;
}

.subscription__contacts {
  display: flex;
  gap: 20px;
}
.subscription__contacts-item {
  display: flex;
  width: 97px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #416A88;
}
.subscription__contacts-item._green {
  background-color: #25D366;
}
.subscription__contacts-item._red {
  background-color: #F5664A;
}
.subscription__contacts-item._blue {
  background-color: #2AA1DA;
}

.subscription__divide {
  margin: 40px 0;
  border-bottom: 1px solid #ECECEC;
}

.subscription__offers {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  flex-wrap: wrap;
}
.subscription__offers-item {
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
.subscription__offers-item img {
  display: block;
  width: 100%;
  max-width: 494px;
}

@media (max-width: 1199px) {
  .subscription__image {
    display: none;
  }
}
@media (max-width: 991px) {
  .subscription__contacts {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
  }
  .subscription__contacts-item {
    width: 141px;
    height: 60px;
  }
  .subscription__offers {
    justify-content: center;
  }
  .subscription__offers-item img {
    max-width: 420px;
  }
}
@media (max-width: 480px) {
  .subscription__contacts {
    gap: 20px;
  }
  .subscription__contacts-item {
    width: 120px;
    height: 60px;
  }
}
.fancybox-container .fancybox-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: transparent;
  transition: background-color 0.2s;
}
.fancybox-container .fancybox-infobar {
  color: white;
  left: 20px;
}
.fancybox-container .fancybox-toolbar {
  right: 20px;
}
.fancybox-container .fancybox-toolbar .fancybox-button {
  color: white;
  background: none;
}
.fancybox-container .fancybox-toolbar .fancybox-button path {
  fill: currentColor;
}
.fancybox-container .fancybox-navigation .fancybox-button {
  background: none;
}
.fancybox-container .fancybox-navigation .fancybox-button > * {
  color: white;
  background: #416A88;
  border-radius: 3px;
}
.fancybox-container .fancybox-navigation .fancybox-button > * path {
  fill: currentColor;
}
.fancybox-container .fancybox-navigation .fancybox-button--arrow_left {
  left: 20px;
}
.fancybox-container .fancybox-navigation .fancybox-button--arrow_right {
  right: 20px;
}
.fancybox-container .fancybox-thumbs {
  background-color: #efefef;
  border-left: 1px solid rgba(65, 106, 136, 0.4705882353);
}
.fancybox-container .fancybox-thumbs__list a::before {
  border: 4px solid #416A88;
}
.fancybox-container .fancybox-slide {
  padding: 88px 44px;
}
.fancybox-container .fancybox-slide.fancybox-slide--video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fancybox-container.fancybox-show-toolbar .fancybox-inner::before {
  background-color: #416A88;
}
.fancybox-container.fancybox-show-toolbar .fancybox-toolbar .fancybox-button:disabled,
.fancybox-container.fancybox-show-toolbar .fancybox-navigation .fancybox-button:disabled {
  opacity: 0.5;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .fancybox-container .fancybox-navigation .fancybox-button {
    top: calc(100% - 100px);
  }
  .fancybox-container .fancybox-slide {
    padding: 88px 22px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1408px;
  padding: 0px 30px;
  margin: 0 auto;
}

.topic__inner {
  border: none;
}

.topic {
  border-bottom: 1px solid #b6b5b5;
}/*# sourceMappingURL=main.css.map */