.contacts-routes {
    margin-top: 30px;
}

.contacts-routes__description > p {
    margin: 5px 0 0;
    @media (max-width: 991px){
        margin-top: 10px;
    }
}

.contacts-routes__apps {
    margin-top: 20px;
}
.contacts-routes__app-links {
    display: flex;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.contacts-routes__app-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: underline;
}

.contacts-routes__tabs {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    width: fit-content;
    @media (max-width: 991px){
        flex-direction: column;
        width: 100%;
    }
}

.contacts-routes__grid {
    display: grid;
    grid-template-columns: 480px auto;
    row-gap: 20px;
    column-gap: 32px;
    @media (max-width: 991px){
        grid-template-columns: unset;
    }
}
.contacts-routes__content {
    ul li {
        list-style-type: unset;
        &:before {
            content: none;
        }
    }
}
.contacts-routes__map {
    max-width: 100%;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    .bx-yandex-map,
    .ymaps-map {
        width: 100%!important;
        margin: 0;
    }
}
