.flex-next,
.flex-prev {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.flex-direction-nav {
    display: block !important;
}

.flexslider .flex-direction-nav > li {
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -12px !important;
  }

.flex-nav-prev {
    display: none;
}

.flex-nav-next {
    right: 60px !important;
}

.flex-next {
    background: none !important;
    background-image: url("./../img/next.svg") !important;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50% !important;

    &::before {
        content: none !important;
    }
}