.personal-card {
    position: relative;
    max-width: 313px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    padding-bottom: 105px;
    @media (max-width: 767px){
        max-width: 440px;
    }
    @media (max-width: 555px){
        padding-bottom: 90px;
    }
}

.personal-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.personal-card__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 105px;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    transition: max-height 0.25s;
    .personal-card:hover & {
        max-height: 100%;
    }
    @media (max-width: 555px){
        max-height: 90px;
    }
}
.personal-card__content {
    background: white;
    padding: 28px 30px;
    @media (max-width: 555px){
        padding: 18px 20px 28px;
    }
}

.personal-card__title {
    display: block;
    color: #999;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.personal-card__name {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    color: #333;
}


.personal-card__contacts {
    position: relative;
    margin-top: 20px;
    display: grid;
    row-gap: 10px;
}

.personal-card__contacts-title {
    display: block;
    color: #999;
    font-size: 10px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.personal-card__contacts-value {
    display: block;
    font-size: 16px;
}

.personal-card__socials {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    @media (max-width: 991px){
        position: static;
    }
}

@media (max-width: 1199px){}
@media (max-width: 991px){}
@media (max-width: 767px){}