.product-customer-media {
    display: block;
    width: 100%;
    padding-top: 25px;
  }
  
.product-customer-media__title {
    font-size: 15px;
    line-height: 20px;
    text-decoration-color: #385d78;
    color: #385d78;
  
    @media (max-width: 672px) {
      font-size: 12px;
      line-height: 18px;
    }
}

.product-customer-media__slider {
    margin-top: 20px;
    padding: 0 34px;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;

    .swiper {
      flex-grow: 1;
    }

    .swiper-button-prev {
      position: absolute;
      left: 0;
      padding: 0 5px;
    }

    .swiper-button-next {
      position: absolute;
      right: 0;
      padding: 0 5px;
    }

    .swiper-button-disabled {
      display: none;
    }

    .swiper-slide {
      width: 84px;
      height: 84px;
      border: 1px solid transparent;
      &:hover {
        border-color: #416A88;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media (max-width: 672px) {
      margin-top: 16px;
    }
}

.product-customer-media__slide {
    display: block;
    width: 84px;
    height: 84px;
    border: 1px solid transparent;
  
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    &:hover {
      background-color: #416a88;
    }
}