.subscription {
    position: relative;
    padding-top: 55px;
    padding-bottom: 35px;
}

.subscription__image {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 60px;
}

.subscription__title {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.subscription__text {
    margin: 20px 0!important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
}

.subscription__contacts {
    display: flex;
    gap: 20px;
    &-item {
        display: flex;
        width: 97px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #416A88;
        &._green {
            background-color: #25D366;
        }
        &._red {
            background-color: #F5664A;
        }
        &._blue {
            background-color: #2AA1DA;
        }
    }
}

.subscription__divide {
    margin: 40px 0;
    border-bottom: 1px solid #ECECEC;
}

.subscription__offers {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    flex-wrap: wrap;
    &-item {
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
        img {
            display: block;
            width: 100%;
            max-width: 494px;
        }
    }
}

@media (max-width: 1199px){
    .subscription__image {
        display: none;
    }
}

@media (max-width: 991px){
    .subscription__contacts {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        width: fit-content;
        margin: 0 auto;
        &-item {
            width: 141px;
            height: 60px;
        }

    }
    .subscription__offers {
        justify-content: center;
        &-item img {
            max-width: 420px;
        }
        
    }

}

@media (max-width: 480px){
    .subscription__contacts {
        grid-auto-flow: unset;
        gap: 30px;

    }
}