@import 'contacts';
@import 'requisits';
@import 'contacts-gallery';
@import 'video';
@import 'personal-card';

.wrapper {
    width: 100%;
    max-width: 1408px;
    padding: 0px 30px;
    margin: 0 auto;
}

// .contacts-section__title {
//     color: #333;
//     font-family: Open Sans;
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 24px;
//     /* 100% */
// }