@import 'contacts';
@import 'contacts-personal';
@import 'contacts-routes';
@import 'contacts-video';
@import 'contacts-gallery';
@import 'contacts-requisits';

.wrapper {
    width: 100%;
    max-width: 1408px;
    padding: 0px 30px;
    margin: 0 auto;
}
